[color]
	ui = true
[alias]
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	d = difftool
[user]
	name = tomoyuki shimomura
	email = st4439@gmail.com
[diff]
	tool = gvimdiff
[difftool]
	prompt = false
[push]
	default = matching
